
html {
  scroll-behavior: smooth;
}


img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding: 0px 40px;
}
@media  (max-width: 375px) {
  .social-menu {
    position:relative;
    right: 50px;
  }
  .social-menu .social-btn{
    height: 55px;
    margin: 5px;
  }
}

@media (min-width: 375px) and (max-width: 501px){
  .social-menu {
    position:relative;
    right: 50px;
  }
  .social-menu .social-btn{
    height: 55px;
    margin: 8px;
  }
}

@media (min-width: 1200px) and (max-width: 1441px) {
  .container {
    max-width: 1250px;
    padding: 0px 36px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 30px;
  }
}
@media (max-width: 479px) {
  .container {
    padding: 0px 30px 0px 20px;
  }
}

.about-me {
  padding-top: 50px;
  padding-bottom: 80px;
}
.about-me .about-me-container {
  position: relative;
}
@media (max-width: 960px) {
  .about-me .about-me-container {
    padding-bottom: 100px;
  }
}
.about-me .about-me-container .about-me-title {
  font-size: 55px;
  color: #FAEBD7;
  font-weight: 700;
  z-index: 1;
  position: relative;
  left: 44px;
  opacity: 0.9;
}
@media (max-width: 500px) {
  .about-me .about-me-container .about-me-title {
    font-size: 30px;
  }
}

.about-me-flex-container {
  margin-top: -25px;
  margin-left: 150px;
  left: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .about-me-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap: 50px;
  }
}
@media (max-width: 500px) {
  .about-me-flex-container {
    margin-top: -10px;
  }
}
.about-me-flex-container .about-me-image {
  position: relative;
  width: 400px;
  height: 400px;
}
@media (max-width: 500px) {
  .about-me-flex-container .about-me-image {
    width: 300px;
    height: 300px;
  }
}
.about-me-flex-container .about-me-image .back-div {
  position: absolute;
  bottom: 0;
  background-color: #858386;
  width: 80%;
  height: 80%;
}
.about-me-flex-container .about-me-image .black-image {
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 100%;
}
.about-me-flex-container .about-me-image .black-image img {
  height: 100%;
}
.about-me-flex-container .about-me-image .main-image {
  width: 70%;
  height: 70%;
  overflow: hidden;
  position: absolute;
  left: 25%;
  top: 5%;
  box-shadow: rgb(0, 0, 0) 0px 7px 50px 0px;
  transition: all 0.2s ease-out;
}
.about-me-flex-container .about-me-image .main-image:hover {
  transform-origin: top center;
  transform: scale(1.5);
  border-radius: 25px;
}
.about-me-flex-container .about-me-image .main-image img {
  transform-origin: center center;
  transform: scale(2);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-out;
}
.about-me-flex-container .about-me-image .main-image img:hover {
  transform: scale(1);
}
.about-me-flex-container .about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 0 0 40%;
}
@media (max-width: 960px) {
  .about-me-flex-container .about-me-content {
    flex-direction: row-reverse;
  }
}
.about-me-flex-container .about-me-content .logo {
  max-width: 200px;
}
.about-me-flex-container .about-me-content .logo img {
  filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}
@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .logo img {
    transform: rotateZ(90deg);
  }
}
.about-me-flex-container .about-me-content .text {
  color: #FAEBD7;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.9;
}
@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .text {
    font-size: 16px;
  }
}

/*Icon reseaux*/

  .social-menu {
    display: flex;
  }
  .social-btn {
    list-style: none;
    width: 80px;
    height: 80px;
    background: #001925;
    margin: 15px;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 10px -5px rgb(255,255,255,0.1);
    transition: all 0.3s;
    /* z-index: 10; */
  }

  .social-btn:hover{
    background-color: #030303;
  }

  .social-menu i {
    color: #858386;
  }


/* Pour la liste des réseaux sociaux */
.social-menu {
    display: flex;
    opacity: 0; /* Définir l'opacité à 0 par défaut */
    transform: translateX(50px); /* Déplacer la liste de 50px vers la droite par défaut */
    animation: slideIn 0.8s forwards; 
}

@keyframes slideIn {
    to {
        opacity: 1; /* À la fin de l'animation, définir l'opacité à 1 */
        transform: translateX(0); /* Déplacer la liste à sa position initiale */
    }
}

/* Pour le logo */
.logo:not(.active) {
    opacity: 0.5; /* Définir l'opacité à 0 pour le début de l'animation */
    transform: translateX(-50px); /* Déplacer le logo de 50px vers la gauche */
}

.logo.active {
    opacity: 0.5; /* Définir l'opacité à 0 pour le début de l'animation */
    transform: translateX(50px); /* Déplacer le logo de 50px vers la gauche */
    animation: slideInLogo 0.4s ease-out 2s forwards, bounce 0.5s 3s 3 alternate; /* Utiliser l'animation slideInLogo avec un délai de 2 secondes et bounce avec un délai de 3 secondes, 3 fois avec une alternance entre les côtés */
}

@keyframes slideInLogo {
    to {
        opacity: 1; /* À la fin de l'animation, définir l'opacité à 1 */
        transform: translateX(0); /* Déplacer le logo à sa position initiale */
    }
}

.social-btn i {
    transition: transform 0.3s ease; /* Ajout d'une transition sur la transformation */
}

.social-btn:hover i {
    transform: scale(1.5); /* Grossissement de l'élément au survol */
}


/*Scroll indicator next section timeline*/

.scroll-indicator-timeline {
  position: absolute;
  left: 50%;
  transform: translate(-7px, -60px);
  opacity: 0.7;
  z-index: 3;
}

.scroll-indicator-timeline span {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid 	#FAEBD7;
  border-radius: 50%;
  margin: 8px auto;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-15px);
  }
  60% {
      transform: translateY(-10px);
  }
}

.scroll-indicator-timeline span {
  animation: bounce 1.5s infinite;
}


/*Scroll indicator next section skills*/

.scroll-indicator-skills {
  position: absolute;
  left: 50%;
  transform: translate(-7px, 40px);
  opacity: 0.7;
  z-index: 3;
}

.scroll-indicator-skills span {
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid 	#FAEBD7;
  border-radius: 50%;
  margin: 8px auto;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-15px);
  }
  60% {
      transform: translateY(-10px);
  }
}

.scroll-indicator-skills span {
  animation: bounce 1.5s infinite;
}