@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

/* ===== Colours ===== */
:root{
    --side-nav: #010718;
    --text-color: #FFF;
    --search-bar: #F2F2F2;
    --search-text: #010718;
}



nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    z-index: 100;
}

/* Styles pour la nav lors du scrolle */
.nav-scrolled {
    background: transparent;
    backdrop-filter: blur(10px); /* Effet de flou pour un aspect de verre givré */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour démarcation */
}

nav {
    transition: background-color 0.3s, box-shadow 0.3s;
    backdrop-filter: blur(10px); 
    /* Effet de flou pour un aspect de verre givré */
}


nav .nav-bar{
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-bar .sidebarOpen{
    color: var(--text-color);
    font-size: 25px;
    padding: 5px;
    cursor: pointer;
    display: none;
}

nav .nav-bar .logo a{
    font-size: 25px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
}

.menu .logo-toggle{
    display: none;
}

/*Logo photo*/
  
.logo-container {
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }

  .circle:hover{
    background: white;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  
  .heading-primary{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: 	#FAEBD7;
    font-weight: 800;
  }

  

  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }

  /*Fin de styles banner*/
  
  .text-container {
    max-width: 600px;
    margin: auto;
    z-index: 3;
  }
  
  .intro {
    color: #FAEBD7;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    font-weight: bold;
}

  
.projects-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 55px;
  background: linear-gradient(135deg, #8e44ad, #e74c3c);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s ease-out;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  border: none;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

.projects-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #e74c3c, #8e44ad);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 100% 0;
  transform: scaleX(0);
}

.projects-btn:hover::before {
  transform: scaleX(1);
}

.projects-btn:hover {
  background: linear-gradient(135deg, #e74c3c, #8e44ad);
  transform: translateY(-2px);
}



@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
    .hov{
        display: none;
    }
    .menuResponsive{
        display: block!important;
      }
    .menu{
        position: fixed;
        height: 1250px;
        width: 320px;
        left: -100%;
        top: 0;
        padding: 20px;
        background-color: var(--side-nav);
        z-index: 100;
        transition: all 0.4s ease;
    }

    nav.active .menu{
        left: -0%;
    }

    nav.active .nav-bar .navLogo a{
        opacity: 0;
        transition: all 0.3s ease;
    }

    .menu .logo-toggle{
        display: block;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo-toggle .siderbarClose{
        color: var(--text-color);
        font-size: 24px;
        cursor: pointer;
    }

    .nav-bar .nav-links{
        flex-direction: column;
        padding-top: 30px;
        right: 85px;
        position: absolute;
    }

    .name .waviy{
        right: 13px;
    }

    .nav-links li a{
        display: block;
        margin-top: 20px;
    }

    .nav-bar .nav-links li{
        list-style: none;
    }

    .nav-links li a{
        position: relative;
        font-size: 17px;
        font-weight: 400;
        color: var(--text-color);
        text-decoration: none;
        padding: 10px;
    }
    
}

@media (min-width: 1350px) {
  .menu {
    transform: translate(260px);
  }
}


/*Menu responsive*/
/* Styles pour le menu hamburger */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  /* Afficher le menu hamburger sur les petits écrans */
  /* Styles pour le menu hamburger */
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  /* Styles pour le menu hamburger */
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  /* Afficher le menu hamburger sur les petits écrans */
  @media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }
  
    .logo-container,
    .toggle-mode {
        display: none;
    }
  
    .menu-list {
        display: none;
    }
  
    .menu-list ul {
        list-style-type: none;
        padding: 0;
    }
  
    .menu-list ul li {
        margin-bottom: 10px;
    }
  
    .menu-list ul li a {
        color: #000;
    }
  
    .toggle-mode {
        display: block;
        margin-top: 10px;
    }
    
    .toggle-mode button {
        background: none;
        border: none;
    }
  }
    


  /**************NAV**********************/
  /*Menu de navigation*/
  .menuResponsive{
    display: none;
  }

  ul,li{
    margin: 0;
    padding: 0;
  }
  .main{
    position:absolute;
    z-index:1;
    
  }
  .main li{
    list-style-type:none;
    text-decoration: none;
    
    background: #FAEBD7;
    width:112px;
    padding: 0 5px;
    height: 30px;
    line-height: 30px;
    
    -webkit-transition: all .5s ease-in-out;
    
  }
  .main li a{
    text-decoration: none;
    color: #000;
  }
  .main li a:hover{
    color: #FAEBD7;
  }
  .main li:hover{
    background: #47526f;
  }

.nav-links.main li {
  position: relative;
}

/* Style pour le texte lors du survol */
.nav-links.main li:hover a {
  color: #FAEBD7; /* Couleur du texte lors du survol */
}

  
  .main li:nth-child(odd){
    
    -webkit-transform-origin: top;
    -webkit-transform: perspective(350px) rotateX(-90deg);
  }
  
  .main li:nth-child(even){
     margin-top:-65px;
    -webkit-transform-origin: bottom;
    -webkit-transform: perspective(350px) rotateX(90deg);
  }
  
  .main {
    
    -webkit-transition: all .5s ease-in-out;
    -webkit-transform-origin: 50% 0%;
    -webkit-transform: perspective(350px) rotateX(-90deg);
  }
  
  .hov:hover .main {
    
    -webkit-transform-origin: top;
    -webkit-transform: perspective(350px) rotateX(0deg);
  }
  
  .hov:hover li:nth-child(odd){
    -webkit-transform-origin: top;
    -webkit-transform: perspective(350px) rotateX(0deg);
    margin-top:0;
  }
  
  .hov:hover li:nth-child(even){
    -webkit-transform-origin: bottom;
    -webkit-transform: perspective(350px) rotateX(0deg);
     margin-top:0;
  }
  
  .main li:first-child{
    margin-top:0;
  }
  
  .hov{
    position:relative;
    height: 40px;
    width:112px;
    background: #47526f;
    color: white;
    font-size: 13px;
    font-family: Helvetica;
    font-weight:bold;
    text-align: center;
    line-height: 40px;
    list-style:none;
    z-index:2;
    
  }


