/*Couleur par défaut*/
.social-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    
    /*Mode nuit/jour*/
    transition: background-color 50s;
    -webkit-transition: background-color 0.5s; /* Pour la compatibilité avec certains navigateurs WebKit */
    -moz-transition: background-color 0.5s; /* Pour la compatibilité avec Firefox */
    -o-transition: background-color 0.5s; /* Pour la compatibilité avec Opera */

}

:root {
    --text-color1: #916453;
    --text-color2: #693b31;
    /* --background_1: linear-gradient(to right, #d3f1f9 0%, #d3f1f9 25%, #d3f1f9 50%, #d3f1f9 75%, #d3f1f9 100%); */
    --background_terry: linear-gradient(to bottom, #FAEBD7 0%, #dcebef 50%);
    --btn-p: linear-gradient(135deg, #916453, #fb9085);
    --btn-project-hover: linear-gradient(135deg,#fb9085, #916453, );
}


/*Bouton mode nuit*/
.day-mode {

    /* background: var(--background_1) */
    background: var(--background_terry);

    /* background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #ffffff 0%,#dec2ea 100%);
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -moz-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #ffffff 0%,#dec2ea 100%); */
}

h1.day-mode-text {
    color: var(--text-color1);
}

h2.day-mode-text {
    color: var(--text-color1); 
}

p.day-mode-text {
    color: var(--text-color1);
}

.nav-links.day-mode-text li a{
    color: var(--text-color1);
}

.name.waviy.day-mode-text span{
    color: var(--text-color1);
}

.about-me-title.day-mode-text span{
    color: var(--text-color1);
}


.text.day-mode-text span{
    color: var(--text-color1);
}

.timeline p.day-mode-text{
    color: var(--text-color1);
}

.timeline h3.day-mode-text{
    color: var(--text-color2);
}

.slg.day-mode-text, .sll.day-mode-text, .slc.day-mode-text{
    color: var(--text-color1);
}

.fc.day-mode-text{
    color: var(--text-color1)!important;
}

.creator-text.day-mode-text{
    color: var(--text-color1);
}

.social-icons.day-mode-text i{
    color: var(--text-color1)
}

.projects-btn.icon.smooth-scroll.day-mode-text{
    background: var(--btn-p);
}
.projects-btn.icon.smooth-scroll.day-mode-text::before{
    background: var(--btn-p);
}

.time.pa.day-mode-text, .time.pe.day-mode-text, .time.po.day-mode-text, .time.pu.day-mode-text{
    background: var(--btn-p)!important;
}

.sidebar.day-mode-text{
    background: var(--text-color1);
}

.smc.day-mode-text i,.smg.day-mode-text i, .sml.day-mode-text i, .smm.day-mode-text i{
    color: var(--text-color1);
}

.bounce0.day-mode-text, .bounce1.day-mode-text, .bounce2.day-mode-text, .bounce3.day-mode-text{
    border: 2px solid black;

}

li.do.day-mode-text::before, li.re.day-mode-text::before, li.mi.day-mode-text::before, li.fa.day-mode-text::before  {
	background: var(--text-color2)!important;
}

i.bx.day-mode-text::before{
    color: var(--text-color1);
}

.arrow-down.day-mode-text{
    color: #092756;
}

.hov.day-mode-text{
    background: #ab6f5f;
}

/* .nav-links.day-mode-text.main li:hover a{
    background: #693b31;
} */
.nav-links.day-mode-text.main li:hover{
    background: #ab6f5f;
}

.nav-links.day-mode-text.main li:hover a {
    color: #FAEBD7; /* Couleur du texte lors du survol */
  }

@media (max-width: 790px){

    .menu.day-mode-text{
        background-color: #bbb;
    }
}

/******************/


.darkLight{
    position: relative;
    top: 6px;

}
.darkLight .hidden {
    display: none;
}

/* Style du toggle switch */
.toggle-checkbox {
    display: none;
  }
  
  .toggle-label {
    background-color: #ccc;
    border-radius: 20px;
    display: inline-block;
    height: 25px;
    position: relative;
    width: 50px;
    cursor: pointer;

  }
  
  .toggle-label::before {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 21px;
    left: 2px;
    position: absolute;
    top: 2px;
    width: 21px;
    transition: 0.3s;
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #092756; /* Couleur du fond en mode nuit */
  }
  
  .toggle-checkbox:checked + .toggle-label::before {
    left: calc(100% - 2px);
    transform: translateX(-100%);
    background-color: #df9e85; /* Couleur de la boule en mode jour */
  }
  