/* Styles pour la barre de navigation */
body{
    margin: 0;
    font-family: Arial, sans-serif;

    /*Couleur dégradé de la bannière */
    /* background: #092756;
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    */
}

h2{
  position: relative;
  color: #FAEBD7;
}
/* Mode nuit : TODO : à terminer*/
/* body.dark-mode {
  background-color: #333;
  color: #fff;
}

.dark-mode button#toggle-mode {
  background-color: #000000;
  color: #333;
} */

/*Logo photo*/
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .heading-primary{
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    color: 	#FAEBD7;
    font-weight: 800;
  }
  .name {
    font-size: 1.2em;
  }

  .name:hover{
    cursor: pointer;
  }
  

  
  .menu ul li a, .name {
    color: 	#FAEBD7;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
  }

  .menu ul li a:hover,.name:hover {
    color: #000000; /* Violet foncé */
    transition: color 0.3s;
  }
  
  .hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
  }

  /*Fin de styles banner*/
  
  .text-container {
    max-width: 600px;
    margin: auto;
    z-index: 3;
  }
  
  .intro {
    color: #FAEBD7;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    line-height: 1.6;
    font-weight: bold; /* Ajout de la propriété font-weight */
}

  
.projects-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 55px;
  background: linear-gradient(135deg, #8e44ad, #e74c3c);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s, transform 0.3s ease-out;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
  border: none;
  font-size: 18px;
  position: relative;
  overflow: hidden;
}

.projects-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #e74c3c, #8e44ad);
  z-index: -1;
  transition: transform 0.5s;
  transform-origin: 100% 0;
  transform: scaleX(0);
}

.projects-btn:hover::before {
  transform: scaleX(1);
}

.projects-btn:hover {
  background: linear-gradient(135deg, #e74c3c, #8e44ad);
  transform: translateY(-2px);
}



  

  /****** Section à propos ******/
  .about {
    text-align: center;
    padding: 100px 20px;
}

.presentation h2 {
    font-size: 2rem;
    /* margin-bottom: 20px; */
    text-align: center;
}

.presentation {
    margin-bottom: 50px;
}

.about-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px; /* Espacement entre les deux colonnes */
  text-align: center;
  /* background-color: #fff;  */
  /* Couleur de fond */
  padding: 50px 20px;
}

.content-main,
.content-skills {
  background-color: #f0f0f0; /* Couleur de fond */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre douce */
  z-index: 3;
}

.content-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: left;
  margin-top: 10px;
}

.content-details-sentence {
  margin-bottom: 10px;
  text-align: left;
}

.content-skills {
  text-align: center;
}

.skill-logo {
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.skill-logo img {
  width: 100px; /* Ajustez la taille selon vos besoins */
  height: 100px; /* Ajustez la taille selon vos besoins */
  padding: 10px;
  box-shadow: 0px 15px 10px -15px #111;   
  
}

/*Plusieurs animations pour le survol des skills */

/* Déplacement vers le haut: L'image peut légèrement monter vers le haut au survol. */
/* .skill-logo:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
} */

/* Ombre portée: Une ombre peut apparaître autour de l'image au survol. */
/* .skill-logo:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
} */

/* Opacité: L'opacité de l'image peut changer au survol. */
/* .skill-logo:hover {
  opacity: 0.7;
  transition: opacity 0.3s ease;
} */

/*Scale (Agrandissement/Réduction): L'image peut légèrement s'agrandir au survol pour donner un effet dynamique.*/
/* .skill-logo:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
} */

.skill-logo:hover {
  transform: rotate(360deg);
}

hr {
  position: relative;
  border:none;
  height: 20px;
  width: 15%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #857e7a;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}



.footer {
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  color: #fff; /* Couleur du texte */
  padding: 20px; /* Marge intérieure */
  text-align: center; /* Centrer le contenu */
  height: 30vh;
}



