:root {
  
  --background: rgb(20,20,20);

	--black: rgb(20,20,20);
	--dark-gray: rgb(75,75,75);
	--light-gray: rgb(185,185,185);
	--white: rgb(240,240,240);

}

/* Styles pour la barre de navigation */
body{
    margin: 0;
    font-family: Arial, sans-serif;
}

h2{
  position: relative;
  color: #FAEBD7;
}

/**********/

hr {
  position: relative;
  border:none;
  height: 20px;
  width: 15%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #857e7a;
  box-shadow: 0 20px 20px -20px #333;
  margin: -50px auto 10px; 
}
